:root {

	--kiyono-global--spacing-unit: 10px;
  --wp-block-padding: 1rem;
  --wp-block-post-font-size: 1rem;
  --wp-block-image-border-radius: 25%;
	--wp-block-image-border-image: linear-gradient(#63c6ff, #6acfa6) 30;
  --nested-columns-margin-top: 1.75rem;
  --wp-block-justify-center: center;
	--is-adjusted-height-h2: 1rem;
  
}

.wp-block-image.is-style-kiyono-border-radius img {
  border-radius: var(--wp-block-image-border-radius) 0;
}

.wp-block-image.is-style-kiyono-image-gradient-border img,
.wp-block-image.is-style-kiyono-image-gradient-border img {
	border: 10px solid;
  border-image: var(--wp-block-image-border-image);
}

.wp-block-image.kiyono-image-gradient-border img {
	padding: 0;
}

.wp-block-columns.block-column-outer-wrapper {
	justify-content: var(--wp-block-justify-center);
}

.wp-block-columns.alignwide.nested-columns-margin-top {
  margin-top: var(--nested-columns-margin-top);
}

h2.is-adjusted-height-h2 {
	line-height: var(--is-adjusted-height-h2);
}

